* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aliceblue;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: aliceblue; */
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#logo {
  display: inline-block;
  /* width: 200px; */
  /* background-image: url(img/logo.jpg); */
}
#nav_item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}
h1 {
  display: inline;
}
button {
  border-radius: 50px;
  text-align: center;
  background-color: #333;
  padding: 3px 10px 3px 10px;
  margin-top: 10px;
}
button:hover {
  background-color: transparent;
}
a {
  text-decoration: none;
  /* color: #333; */
}

#navbar {
  display: inline-block;
  vertical-align: bottom;
}

#end {
  position: absolute;
  right: 0.5%;
  word-spacing: 1rem;
}
#sample {
  text-align: center;
}
#footer {
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
}
footer {
  /* align-items: center; */
  background-color: #333;
  position: fixed;
  color: black;
  width: 100%;
  bottom: 0;

  /* display: flex; */
  /* flex-wrap: wrap; */
}
.gap {
  color: #333;
  height: 2px;
  background-color: white;
  margin: 0 0px;
  border: none;
}
#main_footer {
  margin: 0 20px;
  text-align: center;
}
#footer_content {
  display: flex;
  justify-content: center;
  /* width: 200px; */
  text-align: center;
  /* margin: 5px 40px 10px; */
}
#content {
  margin: 0px 0 5px;
}
#social {
  /* height: 30px; */
  /* vertical-align: middle; */
  list-style-type: none;
  margin: 0 1em;
  /* overflow: hidden; */
  background-color: #333;

  display: flex;

  justify-content: center;
}
#copyright {
  display: inline-block;
  margin: 10px;
}
#rahul {
  text-decoration: none;
  color: aqua;
  text-decoration: underline;
}
.bold {
  font-weight: 900;
}
#lighter {
  font-weight: 100;
}
.fa {
  padding: 8.5px 10px;
  /* font-size: 30px; */
  /* width: 10px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
  background-color: black;
}
